<h1>Registra tu usuario</h1>

<form action="/auth/register" method="POST">
<input
    type="text"
    class="form-control mb-2"
    name="userName"
    placeholder="Ingrese nombre"
    value="marcos">
<input
    type="text"
    class="form-control mb-2"
    name="email"
    placeholder="Ingrese email"
    value="marcos@hotmail.com">
<input
    type="password"
    class="form-control mb-2"
    name="password"
    placeholder="Ingrese contraseña"
    value="123123">
</form>